.grid {
    padding: 180px 24px 12px 24px;
    column-count: 3;
    column-gap: 12px;
}

@media (max-width: 1024px) {
    .grid {
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .grid {
        column-count: 1;
    }
    .title {
        font-size: 3em;
    }
}